.chain-selector {
  display: flex;
  justify-content: space-evenly;
}

.chain {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
}

.chain-icon {
  margin: auto;
}

.active-chain {
  border: 2px solid #48C78E;
}